{:linters {:unresolved-symbol {:exclude [bool Function fallback]}
           :clojure-lsp/unused-public-var 
           {:exclude-regex [minataurus.main/main]}}
 :lint-as {cljd.core/fn clojure.core/fn
           cljd.core/defn clojure.core/defn
           cljd.core/defn- clojure.core/defn-
           cljd.core/let clojure.core/let
           cljd.core/defmacro clojure.core/defmacro
           cljd.core/definterface clojure.core/definterface
           cljs.core/extend-type clojure.core/extend-type }}
